*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration: none;
}

body{
    background-color: #e2e2e2d5;
}


header{
  

    background-size: 500px;
    min-width: 1920px;
    
    width: 100%;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    display:grid;
    grid-template-rows: .5fr 5fr; 
    grid-template-areas: "nav nav nav "
                        "tex tex header_img "
                        "icons icons icons" ;
    min-height: 700px;
 
}


.main{
    max-width: 90%;
    margin: 0 auto;
}
.mg-le{
    margin-left: 181px;
}
  
.mg-rg{
    margin-right:181px ;
}

.header_logo{

   grid-area: logo ;
  
}
.header_logo img{

    margin-top: 15px;
}
.nav_heder{
    display:grid;
    grid-template-areas: "logo   nav_nav    content";
    grid-area: nav;
    width: 100%;
    background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
    
}
.header_content{
    grid-area: content;
  
}

.nav-nav{
    grid-area: nav_nav;
}
 #nav{

    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
   
}
#nav a{
     justify-items: end;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
}
.header_content {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    display: grid;
    justify-items: center;
    align-content: center;
}
.header_tex{
    margin-top:50px;
    font-family: Arial AMU;
    letter-spacing: 0.05em;
    color: #000000;
   
    grid-area: tex;
}
.header-phon{
    justify-content:center;
    border-radius: 100%;
    margin: auto 12px;
    background: #3561B5;
    border: 4px solid  rgba(255, 255, 255, 0.5);
}

.header-phon img{
    margin:7px
}
.soc{
   padding:15px;
}
.header_title{
    margin-top: 250px;
    font-family: Arial AMU;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.05em;
    color: #000000;
}
.header-button{
    width: auto;
    height: auto;
    padding-top: 100px;
}
.buton{
    box-shadow: 0 0 8px rgb(87, 86, 86);
    border: none;
    margin:8px;
    width: 219px;
    height: 65px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
    background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
    border-radius: 15px;
}
.header_title{
    grid-area: header_title;
}
.header_img{
   
    grid-area: header_img;
}


.icons{
    grid-area: icons;
}
.icons .icon{
    padding-right: 60px; 
}

button.icon_mesin{
    float: right;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background:linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
    border: 3px solid rgba(159, 145, 245, 0.38);
    
}
/* /////////////hEAD TEX amin?//? */

 header h1{
  font-weight: 200;
 line-height:100px
}
header h1 { 
    font-size: 3.5em;
   width: 720px;
   height: 300px;
   font-family: Arial AMU;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.05em;

color: #000000;
}

/* /////head img */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 




/* /////////// */

.right{
    float:right;
}
.left{
    float: left;
}
.naw{
    
    padding-top: 80px;
}
.head h1{
    padding: 50px
}
.head{
    margin:100px 0 ;
    text-align:center;
    font-family: Arial AMU;
    font-style: normal;
    font-weight: bold;
    line-height: 200%;
    color: #252525;
    

}
.start-up-imb{
    margin-bottom:  100px;
    margin-right: 100px;
   column-gap: 20px;
    display: grid;
    grid-template-columns: 58% 42%
}
.st img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    grid-area: img;
}
.st{
    align-content: center;
    /* width: 950px; */
    height: 435px;
    display: grid;
    padding: 20px;
    background: #CCCCCC;
    box-shadow: 8px 8px 14px rgb(0 0 0 / 25%);
    border-radius: 15px;
    grid-template-columns: auto auto;
    gap: 30px;
}
.st h3{
    grid-area: h3;
   font-family: Arial AMU;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 131.5%;
    /* or 32px */

letter-spacing: 0.055em;

/* Text[day] */

color: #252525;
}
.st p{
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 190%;
    letter-spacing: 0.055em;
    color: #252525;
    grid-area:p
}
.data{
    font-size: 15px;
    line-height: 190%;
    letter-spacing: 0.055em;
    color: #252525;
    grid-area:data
}
.new-container h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 131.5%;
    letter-spacing: 0.055em;
    color: #252525;

}
.start-up-imb a{

    font-size: 15px;
    line-height: 131.5%;
    letter-spacing: 0.055em;
    text-decoration-line: underline;
    color: #252525;
}
.imb-bl{
    width: 100%;
    row-gap: 30px;
    display: grid;
}
.imb-bl div{
      padding: 41px;
    background: #CCCCCC;
    box-shadow: 8px 8px 14px rgb(0 0 0 / 25%);
    border-radius: 15px;
    grid-template-rows: 1fr 1fr 1fr;
     /* margin: 8px 0 14px 15%; */

}

.new-button {
    display: grid;
    justify-content: center;
    grid-area: button;
   
   
  
}
.new-button .buton{
    width: 351px;
    height: 70px;
}

.faculty-block{
    display:grid;
    gap: 5px;
    text-align:left;
    padding:50px 0 10px 0;
    background: #CCCCCC;
    grid-template-rows: 1fr 3fr 1rf;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    grid-template-areas: "faculty-icon faculty-header"
                            ". faculty-tex"
                             "button button";
}
.mult ,.prog,.web{
      background-image: url(./mainPage/my-icon/mult.-bac.svg);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-position-x: 0px;
    background-position-y: 260px;
}
.faculty-icon svg{

    margin: 13% auto;
    display: block;
}
.pr-pr{
    margin:0 15px
}
.prog{
     background-image: url(./mainPage/my-icon/prog.svg);
}
.img-web img {
    padding: 30px 0 0 30px;


}
.web{
     background-image: url(./mainPage/my-icon/web.svg);
}
.faculty-header{
    padding:0 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 134.8%;
    letter-spacing: 0.055em;
    color: #252525;
    grid-area: faculty-header;
    gap:10px
}
.faculty-icon{
    padding:25px;
    background-color: #FF4B4B;
    border-radius: 0px 15px 15px 0px;;
    grid-area:faculty-icon;
}
.faculty-tex{
    grid-area:faculty-tex;
   
}
.faculty-text {
    min-height: 400px;
}
.faculty-text div{
    margin:40px;
    padding:3px;
    border-bottom: 2px solid #252525;
    transform: rotate(0.23deg);
    color: #252525;
    opacity: 0.5;

}

.column{
    box-sizing: border-box;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;

}

.faculty-c{
    margin:15px 0px
}
.gren{ 
background-color: #0A8100;
}
.yellow{
    background-color: #CC9300;
}

.csha .faculty-c .pr {
    max-width: 5px 0;
    color: #0000
}
/* ///////////////////job   */

.job{
    margin-bottom: 100px;
    box-sizing: border-box;
   text-align: center;
}
 h1{
    padding:60px 0;
   font-size:  63px;
   text-align: center;
}
.job-column{

    background: #CCCCCC;
    padding:30px 30px 0 30px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
 
}
.job-columns{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 40px;

}
.new-button-web1{
  margin-top: 47px;
}
.new-button-web3{
    margin-top:50px
}
.new-button-web2{  
      margin-top: 27px;
}
.job-games{
    padding: 15px 14px 10px 0;
    margin: 5px;
    text-align: left;
    border-bottom:1px solid #252525;;
}
.fa{
    width: 340px;
}
.job-games p{
    font-weight: normal;
    font-size: 18px;
    line-height: 139%;
    color: #252525;
    opacity: 0.5;
}
.us-text{
    display: grid;
    grid-template-columns: 50%;
    gap: 50px;
    grid-template-areas: "us-text us-img";
   

}
.us-text p{
    margin-top: 40px;
    display: block;
    
    color: #252525;
    font-family: Arial AMU;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 188.8%;


    letter-spacing: 0.055em;


}

.us h1{
    grid-area: h1
}
.us-text{
    grid-area:us-tex
}
.img-block{
    top:50px;
    width: 700px;
    position: relative;
}
.play,.middle,.little,.big{
    position:absolute;
    left:20%;
    transform: translate(50%, 50%);
}

.middle{
  
    animation-name: on-spin;
    animation-duration:90s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
} 
.little{
  
    animation-name: spin;
    animation-duration: 10000s;
    animation-iteration-count: infinite;
    animation-timing-function:infinite;


}

.big{
    top: -32px;
    left: 107px;
    animation-name: spin;
    animation-duration:90s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

/* ??????????????????/amin spin */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    
    
    }
}


@keyframes on-spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    
    
    }
}
/* ////////////////we */
.we{
    
    margin-top: 150px; 
}

.we-bl{
    margin-top:90px;
    display:grid;
    grid-template-rows: 160px 40px 100px;
    text-align: center;
    row-gap: 30px;
   
}
.we-bl img{
    margin:0 auto;
}
.we-bl p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #252525;

}
.col{
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 220px;
}
/* ///////////////////cat */
.cat h1{
    grid-area:h2;
    text-align:center;
    margin: 50px 0 ;
}
.cat{
   
    display: grid;
    grid-template-areas: "h2 h2 h2 h2 h2 h2 h2"" auto auto auto auto auto auto auto";
    row-gap: 50px;
    justify-self: center;
}
.cat a{
    justify-self: center;
    align-self:  center
}
/* /////////////////////contact */
.contact{
    margin:100px 13%
}
.contact-form{
    display:grid;
    grid-template-columns: 1.3fr  1fr;
    grid-template-areas: "name textarea"
                        "mail textarea";

    gap: 40px;  
    margin-bottom: 100px;                     
}
.name{
    height: 100px;
    grid-area: name;
 
    
}
.mail{
     height: 100px;
    grid-area:mail;
   
}
.textarea, .mail , .name {
    background: #CCCCCC;
    opacity: 0.5;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border:none;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.055em;
    padding:15px;
    opacity: 0.5;
    color:#000000


}

.b-t{
  position:absolute;
  
}
.textarea{
   
     grid-area:textarea
}
/* ///////////////////col */
.coll{
    
    margin-top:50px
}
.coll-phon{
    float: left;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: linear-gradient(
    92.88deg
    , #B565D8 9.74%, #EE609C 99.48%);
    border: 3px solid rgba(159, 145, 245, 0.38);
    position: absolute;
    margin: 0 0;
}

.new-button-coll button{
    width: 355px;
    height: 64px;
}


.coll p {
    width: 100%;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.055em;
    color: #252525;
}

.coll {
    gap:7px;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr 0.5fr 0.8fr;
    justify-items: center; 
}
.or{
    margin-top: 20px;
}
.qr{
    
    padding: 100px 30% 20px;
    text-align: center;
    font-family: Arial AMU;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 131.5%;

}
.qrcode {
    display: block;
    margin: 0 auto;
}
.bold{
    font-family: Arial AMU;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 109.8%;
}
/* ////////////////////////add */
.add{
    margin-top: 150px;
 
    gap:10px;
    display: grid;
    grid-template-columns: 50% 50%;
   grid-template-areas: "img h1""img form""img button";
    text-align: center;
     color: #252525;

}
.add h2{
    width: 100%;
    font-size:45px;
    grid-area: h1;
    font-family: Arial AMU;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 63px;
    text-align: center;

}
.add-img{
    margin-bottom: 10px;
    grid-area:img
}
.add-img img{
   margin-top: -155px;

}
.add form{
    grid-area: form
    
}
.new-button-add{
    grid-area: button;
  
}
.add form input{
    background: #CCCCCC;
    opacity: 0.5;
    width: 70%;
    height: 70px;
    border: none;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding:10px
}
.new-button-add button{
    width: 70%;
    height: 70px;
}
/* ////////footer///////////// */
footer{

    padding: 100px 0 50px 0;
    width: 100%;
    min-height: 100px;
    background: #421845;
    display: grid;
    grid-template-areas:
        "tr cu so he up"
        "fo fo fo fo.";
    row-gap: 40px;
    gap: 40px;
}
.fo{
    margin-right:281px;
 
    font-family: ArialArmST;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.055em;
    grid-area: fo;
    color: #FFFFFF;
    margin-top: 20px;
    opacity: 0.8;
}

footer p , footer a{
    font-family: Arial AMU;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    ;
    letter-spacing: 0.055em;

    color: #FFFFFF;

}
.tr{ 
    
        grid-area: tr;
       grid-template-rows: auto auto auto auto auto auto;
       display:grid;
       row-gap: 10px;
}
.cu{
 
    display: grid;
    grid-area: cu;
    row-gap: 10px;

}
.so{
    display: grid;
    grid-area: so;
    gap: 20px;
    
}
.so img{
    margin-right:15px ;
    width: 20px;
    height:20px;
}

.he{
    
    grid-area: he;
    display: grid;
    gap: 10px;
}
footer .hed{
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
    }
.up{ 
    
    grid-area:up
}
.up img{
    margin-top: 200px;
}